/* Empty css file that users can override in their own /static/css/custom.css file */
.post {
  font-size: 0.8em;
  font-family: "FiraSans", sans-serif;
}

.post h1 {
  font-size: 2em;
  font-family: "FiraSans", sans-serif;
}

.brand h1 {
  font-size: 1em;
}

.lead {
  font-size: 1em;
}

.katex {
  font-size: 1em;
  font: KaTeX_AMS;
}